body {
  font-family: Arial;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #333;
  color: rgb(197, 93, 161);
  text-align: center;
  padding: 1;
}

nav {
  background-color: #555;
  text-align: center;
  padding: 1;
}

nav a {
  color: #fff;
  margin: 0;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 10;
}
